
  ///////////////////////////////////////
 ////           NAV-BAR             ////
///////////////////////////////////////

.nav-bar {
    display: flex;
    margin-top: 2rem;

    &__lista {
        padding-right: 5rem;
        list-style: none;
        height: 1.8rem;

        display: flex;
        flex-direction: row;
        justify-items: baseline;
    }

    &__item {
        overflow: hidden;
        padding: 0 2rem;
        height: 1.8rem;
    }

    &__link {
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        outline: none;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-weight: 400;
        text-shadow: 0 0 1rem rgba(255,255,255,0.3);
        cursor: pointer;

        span {
            position: relative;
            display: inline-block;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
        }
    
        span::before {
            position: absolute;
            top: 100%;
            content: attr(data-hover);
            font-weight: 700;
            width: max-content;
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
    }

    &__link:hover,
    &__link:focus  {
        span {
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }

    &__link:active  {
        color: var(--color-primary);
        transition: all .3s;
    }

    &__icon {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 2rem;
        fill: currentColor;
        margin-top: -1.5rem;
    }

    &__icon:hover {
        color: var(--color-primary);
        transition: all .3s;
    }

    &__notification {
        font-size: 1.4rem;
        color: #fff;
        position: absolute;
        // top: -1.8rem;
        right: 4rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

}

  ///////////////////////////////////////
 ////           SIDE-BAR            ////
///////////////////////////////////////
.side-bar {
    display: flex;
    flex-direction: column;

    &__logo {
        height: 3.25rem;
        margin-top: 3rem;
        margin-left: 5rem;
        width: 70%;
    }

    &__menu {
        list-style: none;
        margin: -15rem 0 0 5rem;
    }

    &__item {
        margin-top: 1.5rem;
    }

    &__link {
        font-size: 1.8rem;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 400;  
        transition: all .3s;
        text-transform: uppercase;
        cursor: pointer; 
    }

    &__link:hover {
        color: var(--color-primary);
        outline: none;
        font-weight: bold;  
    }
    &__link:active,
    &__link:active { 
        background-color: var(--color-primary);
        color: var(--color-primary-dark);
        font-weight: bold;
    }

    &__link:hover::before,
    &__link:hover::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }

    &__link:hover::before {
        margin-right: 10px;
        content: '[';
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px);
    }

    &__link:hover::after {
        margin-left: 10px;
        content: ']';
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px);
    }


    &__social {
        padding-bottom: 5rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-left: 5rem;
    }

    &__icon {
        color: #FFFFFF;
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 2rem;
        fill: currentColor;
    }

    .social-bar {

        &__icon {
            color: #FFFFFF;
            width: 3.2rem;
            height: 3.2rem;
            margin-right: 2rem;
            fill: currentColor;
        } 
    }
}

  ///////////////////////////////////////
 ////            SLIDER             ////
///////////////////////////////////////

.slider-box {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 5rem;

    span {
        background-color: var(--color-primary);
        width: 3.5rem;
        height: .4rem;

        &:nth-child(10) {
            background-color: #fff;
        }

        &:first-child,
        &:nth-child(5),
        &:nth-child(10),
        &:nth-child(15),
        &:last-child {
            width: 5.5rem;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

  ///////////////////////////////////////
 ////           CONTENT             ////
///////////////////////////////////////

.content-box {
    color: #fff;
    flex: 0 40%;
    height: auto;

    &__title {
        font-size: 2.8rem;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    &__txt {
        font-size: 2.4rem;
        font-weight: lighter;line-height: 3rem;
        padding: 2.5rem 0 0 4.5rem;
    }

    &__cta {
        background-color: #fff;
        border-radius: 1.5rem;
        color: var(--color-primary-dark);
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 .5rem;
        margin-left: 2rem;
        transition: all .2s ease-in;
        cursor: pointer;
    }

    &__cta:hover {
        transform: scale(1);
    }
    
    &__cta:active,
    &__cta:focus {
        background-color: var(--color-primary-dark);
        color: #fff;
    }

    &__link {
        color: var(--color-primary-light);
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }

    &__count {
        color: var(--color-primary);
        font-size: 1.6rem;
        font-weight: bold;
    }
}

  ///////////////////////////////////////
 ////           POP-UP              ////
///////////////////////////////////////
.pop-up {
    flex-direction: row;
    z-index: 1000;
    opacity: 0.75;
    background-color: var(--color-grey-dark-1); 

    &__cta {
        opacity: 0.75;
        background-color: var(--color-grey-dark-1); 
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }

    &__icon {
        color: #fff;
        width: 2rem;
        height: 2rem;
        
    }

    &__box {
        display: flex;
        z-index: 1000;
        display: flex;
        justify-content: center;
    }

    &__title {
        color: #fff;
        font-size: 1.8rem;
        font-weight: lighter;
        display: flex;
        justify-content: center;
    }

    &__accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }

      &__accordion--active,
      &__accordion:hover {
        background-color: #ccc;
      }

      &__accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      &__accordion--active:after {
        content: "\2212";
      }

      &__panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

    .thumbnail {
        display: flex;
        margin: 0 3.5rem;

        &__img {

        }

        &__title {
            font-size: 1.8rem;
            color: inherit;
            font-weight: lighter;
        }

        &__link {
            font-size: 1.6rem;
            color: inherit;
            font-weight: lighter;
        }
    }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }